*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container
{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
}

.menu
{
    width: 71%;
    display:flex;
    justify-content: space-between;
}

.links
{
    display: flex;
    justify-content: flex-end;
}

.login
{
    margin-left: 30px;
}

.header-container
{
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header
{
    width: 66%;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.subscribe,
.social
{
    align-self: flex-end;
    margin-bottom: 20px;
}

.social, .logo, .subscribe
{
    
}

.photo-grid-container
{
    display: flex;
    justify-content: center;
}

.photo-grid
{
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.photo-grid-item
{
    width: 300px;
    height: 300px;
}

.first-item
{
    order: 0;
}

.second-item
{
    order: -1;
}

.third-item
{
    order: 0;
}

.fourth-item
{
    order: 1;
}

.fifth-item
{
    order: 0;
}

.footer-container
{
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: center;
}

.footer
{
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.footer-item
{
    background-color: #D6E9FE;
    height: 180px;
    flex: 1;
}

.footer-three, .footer-one
{
    background-color: #5995DA;
    flex:initial;
    width: 300px;
}

.footer-login
{
    display: flex;
    color:crimson;
    justify-content: center;
    background-color:steelblue;
}

.footer-links
{
    display: flex;
    height: 30px;
    width: 90%;
}

.fsignup
{
    margin-left: auto;
}

.flogin
{
    margin-left: 30px;
}